  @media (max-height: 800px) { /* CSS Rules */ } 
      body {
        font-size:10px;
      }
  @media (min-height: 801px) { /* CSS Rules */ }
    body {
      font-size: 20px;
    }
  body {
    background-color: #eee;
    align-items: center;
  }
  header {
    width: 100%;
    top: 0;
    margin-top: 0;
    align-content: center;
    position: fixed;
    border: 1px;
    background-color: white;
    text-align: center;
  }
  a {
    color: #000;
    
  }
  #form {
    margin-top: 40vh;
  }
  button {
    background-color: orange;
  }
  .main-div {
    text-align: center;
  }
  #model-price {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    margin: 5vh 5vw 5vh 5vw;
    align-items: center;
  }
  #price-header {
    margin-top: 0px;
    border: 1px;
    background-color: #ddd;
  }
  button {
    width: 50%;
    margin-bottom: 3%;
  }
  .footer-div {
    display: flex;
    text-align: center;
    border-top: 1px solid;
    background-color: #ddd;
    margin-bottom: 0px;
    justify-content: center;
  }
  footer a {
    text-decoration: none;
  }